/*DEL INICIO*/
@keyframes anima{
    0%{ background-color: #cb997e;
        color: #ffe8de;
        text-align: center;}

    25%{background-color: #ffe8de;
        color: #cb997e;
        text-align: right;}  
    
    50%{background-color: #cb997e;
        color: #ffe8de;
        text-align: left;}
        
    100%{background-color: #ffe8de;
        color: #cb997e;
        text-align: center;}        
}



