/*DEL INICIO*/
@keyframes anima{
    0%{ background-color: #cb997e;
        color: #ddbea9;
        text-align: center;}

    25%{background-color: #ddbea9;
        color: #cb997e;
        text-align: right;}  
    
    50%{background-color: #6b705c;
        color: #b7b7a4;
        text-align: left;}
        
    100%{background-color: #b7b7a4;
        color: #6b705c;
        text-align: center;}        
}



