h1{
    background-color: #ddbea9;
    color: #cb997e;
    text-align: center;
    font-style: normal;
    font-weight: 800;
    font-size: 3rem;
    animation: anima infinite 3s 0s;
}
    
h2{
    color: #6b705c;
}

h4{
    color: #6b705c;
}