h1{
    background-color: #ffe8de;
    color: #cb997e;
    text-align: center;
    font-style: normal;
    font-weight: 800;
    font-size: 1,5rem;
    margin-bottom: 1rem;
    animation: anima infinite 3s 0s;
}
    
h2{
    background-color: #ffe8de;
    color: #cb997e;
    text-align: center;
    font-style: normal;
    font-weight: 800;
    font-size: 1,5rem;
    margin-bottom: 1rem;
    animation: anima infinite 3s 0s;
}

h3{
    background-color: #cb997e ;
    color: #ffe8de;
    font-weight: bold;
}
