footer__div__p{
    font-weight: bold;
    color: #6b705c;
}

footer__ul__li{
    list-style-type: none;
    list-style-position: inside;
}

footer__div__h4{
    font-weight: bold;
    text-indent: 2rem;
    color: #6b705c;
    text-transform: uppercase;
}