.separacionDeSections{
    border: solid 3px #6b705c;
    padding-left: 3px;
    padding-right: 3px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.margenTopBottom{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}