/*Estructura "SOBRE LIBERTAD CREATIVA en el INICIO"*/
.sobreLC{
    margin-top: 1rem;
}

#start{
    padding-top: 60px;
    text-align: center;
    color: #6D5447;
}

#end{
    padding-bottom: 100px;
    text-align: center;
    color: #6D5447;
}

#medio{
    text-align: center;
    color: #6D5447;
}

p{
    color: #6D5447;  
}

/* Display de Imágenes en el Home */
.displayHome > li {
    text-decoration: none;
    list-style-type: none;
    display: inline;
}

/*Formatos para imágenes */
/*Operaciones matemáticas*/
$width: 20%;
$height: 5%;

.fotosChicas{
    width: $width+10%;
    height: $height+15%;
    margin: 1rem;
    padding: 2rem;
}

