@charset "UTF-8";
body {
  margin: 2rem;
  font-family: 'Noto Sans', sans-serif;
  background-color: #ffe8d6; }

.margenTopBottom {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px; }

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center; }
  nav ul li {
    text-decoration: none;
    padding: 2%; }

h1 {
  background-color: #ffe8de;
  color: #cb997e;
  text-align: center;
  font-style: normal;
  font-weight: 800;
  font-size: 1,5rem;
  margin-bottom: 1rem;
  animation: anima infinite 3s 0s; }

h2 {
  background-color: #ffe8de;
  color: #cb997e;
  text-align: center;
  font-style: normal;
  font-weight: 800;
  font-size: 1,5rem;
  margin-bottom: 1rem;
  animation: anima infinite 3s 0s; }

h3 {
  background-color: #cb997e;
  color: #ffe8de;
  font-weight: bold; }

footer {
  margin-top: 100px;
  background-color: #cb997e; }
  footer div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1%;
    color: #ffe8de; }

/*DEL INICIO*/
@keyframes anima {
  0% {
    background-color: #cb997e;
    color: #ffe8de;
    text-align: center; }
  25% {
    background-color: #ffe8de;
    color: #cb997e;
    text-align: right; }
  50% {
    background-color: #cb997e;
    color: #ffe8de;
    text-align: left; }
  100% {
    background-color: #ffe8de;
    color: #cb997e;
    text-align: center; } }

/* Para movil */
@media (max-width: 600px) {
  body {
    background-color: white;
    font-size: 12pt; } }

/* Para tablet */
@media (min-width: 601px) {
  body {
    background-color: #ffe8d6;
    font-size: 14pt; } }

/* Para desktop */
@media (min-width: 1200px) {
  body {
    background-color: #FFD1AD;
    font-size: 16pt; } }

/* Sobre p치gina "Cuadros", "Murales" y "Tarjetas" */
.misCollages > li {
  text-decoration: none;
  list-style-type: none;
  display: inline; }

/*Estructura "SOBRE LIBERTAD CREATIVA en el INICIO"*/
.sobreLC {
  margin-top: 1rem; }

#start {
  padding-top: 60px;
  text-align: center;
  color: #6D5447; }

#end {
  padding-bottom: 100px;
  text-align: center;
  color: #6D5447; }

#medio {
  text-align: center;
  color: #6D5447; }

p {
  color: #6D5447; }

/* Display de Im치genes en el Home */
.displayHome > li {
  text-decoration: none;
  list-style-type: none;
  display: inline; }

/*Formatos para im치genes */
/*Operaciones matem치ticas*/
.fotosChicas {
  width: 30%;
  height: 20%;
  margin: 1rem;
  padding: 2rem; }

.logo {
  padding-bottom: 20px;
  display: flex;
  justify-content: center; }
